:root {
    --max-table-width: 700px;
}

#results {
    /* make the results have a max width */
    width: var(--max-table-width);
    max-width: var(--max-table-width);
}

#results > * {
    /* make the results have a max width */
    max-width: var(--max-table-width);
    overflow: auto;
    word-wrap: break-word;
}

.result-body-cell-with-links {
    /* make text wrap around and break no matter what
        * (even if there are no spaces) */
    word-wrap: break-word;
}

/* ensure each cell has a max width */
.result-table-with-links td {
    max-width: calc(var(--max-table-width)/3 - 5px);
    min-width: calc(var(--max-table-width)/3 - 5px);
}

/* style the tables so that each cell has a border, etc. */
/* make it pretty */
.result-table {
    border-collapse: collapse;
    margin: 15px 0;
    overflow: auto;
    max-width: var(--max-table-width);
    /* make it so the table is scrollable on overflow */
    display: block;

}

/* make the cells have padding, outlines, etc */
.result-table td {
    padding: 5px;
    border: 1px solid #ccc;
}

/* make the header cells have a background color */
.result-table th {
    background-color: #eee;
    padding: 5px;
    border: 1px solid #ccc;
}

/* dark mode */
[data-md-color-scheme="slate"] .result-table {
    /* color scheme for dark mode */
    border: 1px solid #ccc;
    background-color: #222;
    color: #fff;
}

[data-md-color-scheme="slate"] .result-table th {
    /* color scheme for dark mode */
    background-color: #333;
    border: 1px solid #ccc;
}

[data-md-color-scheme="slate"] .result-table td {
    /* color scheme for dark mode */
    border: 1px solid #ccc;
}
